@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,200;0,300;0,700;1,200;1,300;1,400;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    $bodyBackground : #1A1A1B;
    $navBarBackground : #292929;
    $stock : #3B3B3B;
    font-family: 'IBM Plex Mono', monospace;
    scroll-behavior: smooth;
    background: $bodyBackground;
    color: #fff;
    overflow-x: hidden;
    .btn {
        width: 120px;
        height: 50px;
        border: 2px solid $stock;
        font-size: 16px;
        color: #fff;
        font-weight: bold;
    }

    .btn:hover {
        width: 120px;
        height: 50px;
        background: #1f1f1f;
        border: 2px solid $stock;
        font-size: 16px;
        color: #fff;
        transition: 0.2s ease;
    }

    .nav-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: $navBarBackground;
        padding: 40px;
        width: 100%;
        border-bottom: 2px solid $stock;

        .nav-logo {
            font-size: 36px;
        }

        .menu-lists {
            display: flex;
            flex-direction: row;
            list-style: none;
            font-weight: 100;
            align-items: center;

            .menu-list {
                align-items: center;
            }

            .menu-item {
                color: #fff;
                text-decoration: none;
                font-size: 22px;
                padding: 0px 20px;
            }
        }

        #toggle {
            font-size: 30px;
            cursor: pointer;
            display: none;
        }
    }

    .hero-container {
        margin: 0 10%;
        display: flex;
        padding: 70px 0 0 0;
        column-gap: 20px;

        .header-content {
            width: 50%;

            .hero-header {
                font-size: 45px;
            }

            #explore-btn {
                margin-top: 10px;
            }
        }

        .body-content {
            width: 50%;

            .input {
                width: 400px;
                height: 55px;
                border-radius: 10px;
                outline: none;
                padding: 20px;
                border: 2px solid $stock;
                background: none;
                margin-bottom: 10px;
                color: #fff;
            }
        }
    }


.recent-blogs {
    margin: 0 10%;
    padding: 40px 0;

    .recent-blogs-header {
        text-align: center;
        padding-bottom: 30px;
    }

    .recent-blogs-container {
        display: flex;
        column-gap: 10px;

        .most-recent {
            width: 48%;
            border: 2px solid $stock;
            border-radius: 10px;

            .blog-title {
                font-weight: bold;
            }

            .timestamp {
                color: $stock;
            }

            .blog-description {
                font-weight: lighter;
            }

            .l-img {
                width: 100%;
                border-radius: 10px;
            }

            .m-blog-content {
                padding: 20px;
            }
        }

        .recent-two {
            width: 50%;

            .recent-two-container {
                display: flex;
                border: 2px solid $stock;
                border-radius: 10px;
                column-gap: 10px;
                margin-bottom: 10px;

                .m-img {
                    object-fit: cover;
                    border-radius: 10px;
                    width: 50%;

                }

                .blog-content {
                    margin: auto;

                    .blog-title {
                        font-weight: bold;
                        font-size: 26px;
                    }

                    .timestamp {
                        color: $stock;
                    }
                }
            }
        }
    }
}

.blogs-container{
    padding: 3rem 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 0 5%;
    width: 90%;
    .blog-card{
        width: 430px;
        border: 1px solid $stock;
        border-radius: 10px;
        .card-img{
            border-radius: 10px;
        }
        .card-content{
            padding: 20px;
            .blog-title{
                font-weight: bold;
            }
            .timestamp{
                color: $stock;
            }
        }
    }
}
    @media screen and (max-width: 820px) {
        .nav-container {
            padding: 20px;
            overflow-x: hidden;
            overflow-y: scroll;
            .nav-logo {
                font-size: 28px;
            }

            #toggle {
                display: block;
            }

            .menu-lists {
                flex-direction: column;
                position: absolute;
                top: 92px;
                height: 50vh;
                width: 300px;
                background: $navBarBackground;
                align-items: start;
                border-left: 2px solid $stock;
                border-bottom: 2px solid $stock;
                transition: 0.3s ease-in;
                display: none;
                right: 0;

                .menu-list {
                    padding: 20px 0;
                }
            }
        }

        .hero-container {
            flex-wrap: wrap;

            .header-content {
                width: 100%;
            }

            .body-content {
                padding: 10px 0;
                width: 100%;

                .input {
                    width: 300px;
                }
            }
        }
    }
#pb-form {
    width: 50%;

    #f-input {
        align-items: center;
        padding: 15px;
    }

    .quill {
        margin: 0 auto;
        width: 90%;
        height: 300px;
        margin-bottom: 5rem;
    }

    .input {
        width: 90%;
    }
}

.form-container {
    border: 2px solid $stock;
    border-radius: 10px;
    width: 30%;
    margin: 30px auto;
    padding: 20px;
    text-align: center;

    .form-header {
        font-size: 22px;
        font-weight: lighter;
    }

    #form-btn {
        width: 280px;
        margin-bottom: 20px;
    }


    .input {
        width: 95%;
        height: 55px;
        border-radius: 10px;
        outline: none;
        padding: 20px;
        border: 2px solid $stock;
        background: none;
        margin-bottom: 10px;
        color: #fff;
        margin: 20px 0;
    }
.error {
    color: red;
}
}

@media screen and (max-width: 871px) {
    .recent-blogs {
        padding: 10px;
        margin: 0 10px;

        .recent-blogs-container {
            flex-wrap: wrap;
            flex-direction: column;
            row-gap: 10px;

            .most-recent {
                width: 100%;
            }

            .recent-two {
                width: 100%;

                .recent-two-container {
                    width: 100%;
                    flex-wrap: wrap;
                    flex-direction: column;

                    .m-img {
                        width: 100%;
                    }

                    .blog-content {
                        text-align: center;
                        padding: 10px;
                    }
                }

            }
        }
}

.form-container {
    width: 70%;

    #form-btn {
        width: 150px;
    }
}



#pb-form {
    width: 90%;
    align-items: center;
    overflow-x: hidden;
    .input{
        width: 95%;
    }
    .quill {
        width: 95%;
        height: 300px;
        margin-bottom: 6.5rem;
    }
}

}

.footer-container {
    width: 100%;
    display: flex;
    align-items: center;
        justify-content: space-between;
        border-top: $stock 1px solid;
            padding-top: 20px;
    .footer-header {
        font-size: 16px;
    }

.social-lists {
    display: flex;
    list-style: none;
    .social-list {
            padding-right: 10px;
            }
    }
}

@media screen and (max-width: 300px) {
    .hero-container {
        .body-content {
            .input {
                width: 230px;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .form-container {
        width: 90%;
    
            #form-btn {
                    width: 150px;
                }
            }
    
                #pb-form {
                    width: 90%;
}
}
.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
}