* {
    padding: 0;
}

#post-container {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px;
}

#cover-img {
    width: 800px;
    height: 400px;
}

#content {
    margin: 0px 100px;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width : 450px) {
    #cover-img {
        width: 400px;
        height: 200px;
    }

    #post-container {
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 10px;
    }
}